 {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%; 	
}



@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


#loginForm , #signupForm {
	width:90%;
	bottom: 0px;
	position: absolute;
	
	right: 5%;
	left:5%;
}

 #editEventForm, #editNoteForm {

	float:top;
	position: fixed;
	top: 14%;
	right: 15%;
	left:10%;
}


#openPage {
	background-color:rgb(11,11,11);
	background-repeat:no-repeat;
	background-attachment:fixed;
	position:absolute; 
	width:100%;
	height:100%;
	
}



.darken {
	opacity:0.6;
    filter:alpha(opacity=40);
    		
}
.lighten {

	opacity:1;
    filter:alpha(opacity=100);
    
}

.ui-btn-inner , .ui-input-text, #profile, tr  {
	font-family:"Comic Sans MS", sans-serif !important;
	font-size:14px !important;;

}

.ui-input-text {
background-color:#FFFFCC;
}


#loginContainer, #signUpContainer {
	width:100%;
	height :100%;

	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:rgb(11,11,11);
	position: absolute; 
	top: 0px; 
	left: 0px;
}
#loginContainer {
	background-image:url('images/yellow_doli_logo_320.jpg');
}


#editNotePage,  #mainPage, #mainContent, #plus, #days, #month, #one, #signUpContainer {
	display: none;
}
#mainContent, #mainPage, #leftContent {
	min-height: 100%;
	min-width:100%;
	position: absolute;
}

#emailId, #s_emailId, #s_userName, #password, #s_password, #s_password2 {
	background-color:#FFFFCC;
}
 #s_emailId, #s_userName, #s_password, #s_password2 {
	margin-top:40px;
	margin-bottom:40px;
}

#editNotePage, #calendar, #images, #notes, #profile {
	padding-top: 17%; 
	left:0px;
	padding-right: 14%;
}

 #editNoteForm {
	margin: 5px;
}
.ui-listview {

	padding-left:20px;
	padding-top:20px;
}
textarea.ui-input-text {
	height:80px;
}
#noteslist {
	margin-bottom:25px;
}
div.ui-btn-text{
	width:100%;
}
#leftContent {
	position: fixed;
	width: 100%;
	height:100%;
	background-image:url('images/main_background.png');
	background-size:100%;
}
li.ui-li {
	width:90%;
}

.content_div {
	display: none;


}


#mainNavigation {
	position:fixed;
	top: 14%; 
	right: 1px;
	width:10%;
	background-color:rgba(255,255,255,0.5);
}

#mainNavigation a img {
	width:100%;
}
#calendarNavigation {
	position:fixed ;

	bottom: 0px;
	left: 2px;
}

#timetable tr:nth-child(even) {background: #CCC}
#timetable tr:nth-child(odd) {background: #FFF}



.small {

font-size:8px;
}
.nonCurrentMonth {

	background-color:rgba(212,200,168,0.5);
}

.currentMonth {

	background-color:rgba(225,230,170,0.5);
}

.hasEvent {
	background-color:rgba(255,255,0,0.5);
}
}




